/* @group FOUNDATION */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  font-size: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}
a:hover {
  cursor: pointer;
}
a:focus {
  outline: none;
}
img,
object,
embed {
  max-width: 100%;
  height: auto;
}
object,
embed {
  height: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
}
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-justify {
  text-align: justify !important;
}
.hide {
  display: none;
}
.antialiased {
  -webkit-font-smoothing: antialiased;
}
img {
  display: inline-block;
  vertical-align: middle;
}
textarea {
  height: auto;
  min-height: 50px;
}
select {
  width: 100%;
}
/* @end */
/* @group GENERAL */
/* @end */