@import 'settings';
@import 'mixins';
@import '../bower_components/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-xy-grid-classes;

@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes

$orange:#f15922;
$purple:#52256e;
$black:#231f20;
$gray:#58585a;

$font_family_1:'Gotham SSm A';
$font_family_2:'Gotham SSm B';

/* @group GLOBAL */
body {
	font-family: $font_family_1, $font_family_2, Helvetica, Arial, sans-serif;
}
/* @end */